<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="osuTrainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <osuTrainer.Properties.Settings>
            <setting name="DataSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsExclusiveCbChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDoubletimeCbChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsHardrockCbChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsHiddenCbChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFlashlightCbChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="MinPp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFcOnlyCbChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRankImageVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAccVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsBeatmapNameVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsArtistVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsVersionVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCreatorVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsModsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsBpmVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPpVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLengthVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDrainVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </osuTrainer.Properties.Settings>
    </userSettings>
  <system.net>
    <defaultProxy enabled="false">
      <proxy/>
      <bypasslist/>
    </defaultProxy>
  </system.net>
</configuration>